[Unit]
Description=FADR service
## Added to force fadrui to wait for network
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=fadr
Group=fadr
## Add your path to your logfiles if you want to enable logging
## Remember to remove the # at the start of the line
StandardOutput=append:/home/fadr/logs/WebUI.log
StandardError=append:/home/fadr/logs/WebUI.log
Restart=always
RestartSec=3
ExecStartPre=/bin/bash -xc '/usr/bin/systemctl is-active --quiet fadrui.service && exit 1 || exit 0'
ExecStart=python3 /opt/fadr/fadr/runui.py

[Install]
WantedBy=multi-user.target
